{% extends 'navigation.html' %}
{% load static %}
{% block body %}
<body>
        <div class="cart-table-area section-padding-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <div class="cart-title mt-50">
                            <h2>Корзина</h2>
                        </div>

                        <div class="cart-table clearfix">
                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Товар</th>
                                        <th>Цена</th>
                                        <th>Количество</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in cart %}
                                    {% with product=item.product %}
                                    <tr>

                                        <td class="cart_product_img">
                                            <a href="{% url 'productdetail' product.id %}"><img src={{ product.image.url }} alt="Product"></a>
                                        </td>
                                        <td class="cart_product_desc">
                                            <h5>{{ product.name }}</h5>
                                            <a class = "btn btn-danger" href="{% url "cart:cart_remove" product.id%}" >Удалить</a>
                                        </td>
                                        <td class="price">
                                            <span>${{ product.price }}</span>
                                        </td>
                                        <td class="qty">
                                            <span>{{ item.quantity }}</span>
                                        </td>

                                    </tr>
                                    {% endwith %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="cart-summary">
                            <h5>Итого:</h5>
                            <ul class="summary-table">
                                <li><span>Доставка:</span> <span>Бесплатная</span></li>
                                <li><span>Итого:</span> <span>{{ cart.get_total_price }}</span></li>
                            </ul>
                            <div class="cart-btn mt-100">
                                <a href="cart.html" class="btn amado-btn w-100">Заказать</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Main Content Wrapper End ##### -->
</body>
{% endblock %}